services:
  # Service : serveur de tuiles vectorielles
  tile-server:
    image: maptiler/tileserver-gl
    container_name: tileserver
    ports:
      - "8080:8080"
    volumes:
      - ./data/madagascar.mbtiles:/data/madagascar.mbtiles
      - ./styles:/usr/src/app/public/styles
    command: >
      --port 8080
      --mbtiles /data/madagascar.mbtiles
