version: "3.8"

services:
  osm-import:
    image: overv/openstreetmap-tile-server
    container_name: osm_import
    volumes:
      - ./data/madagascar.osm.pbf:/data/region.osm.pbf
      - osm-data:/data/database
    command: import
    restart: "no"

  osm-server:
    image: overv/openstreetmap-tile-server
    container_name: osm_server
    volumes:
      - osm-data:/data/database
    ports:
      - "8080:80"
    command: run
    depends_on:
      - osm-import

volumes:
  osm-data:
